.btn {
  padding: 7px 10px;
  border: 0;
  border-radius: 3px;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  &+ .btn {
    margin-left: 10px;
  }
}

.btn-primary {
  background: #007bff;
}

.btn-default {
  background: #777;
}

.btn-danger, .btn-submit {
  background: #dc3545
}

.btn-light {
  color: #333;
  background: #fff;
}

.btn-link {
  background: none;
  color: #fff;
}