@import 'button.css';

body {
  background: #efefef;
}

.main {
  margin-top: 100px;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100vw;
}

.header {
  padding: 10px 0;
  background: #59c2ff;
  justify-content: space-between;
  box-shadow: 0px 0px 1px 1px #999;
}

.header-right {
  margin-right: 25px;
}

.header-title {
  font-size: 20px;
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 1px #969696;
}

:focus{
  outline: none;
}

.arrow-back {
  cursor: pointer;
}

.search-bar-input:focus {
  border-bottom: 2px solid #05a0fb;
  transition: 0.3s;
}

.search-bar-input {
  width: 90%;
  padding: 5px;
  border: 0;
  border-bottom: 2px solid #999;
  font-size: 16px;
  letter-spacing: .5px;
  background: #efefef;
}

.spot-container {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px;
}

.spot {
  padding: 20px;
  background: #fff;
  box-shadow: 1px 1px 1px #ccc;
  text-decoration: none;
  position: relative;
  &:hover {
    img {
      transform: scale(1.03);
      transition: transform .5s;
    }
  }
}

.favorite {
  font-size: 24px;
  color: skyblue;
  position: absolute;
  top: 15px;
  right: 15px;
}

.spot-image-wrap {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.spot-image-wrap-img {
  max-width: 200px;
  max-height: 200px;
}


.spot-info {
  margin-top: 20px;
  line-height: 1.5;
  color: #666;
}

.spot-info-title {
  font-size: 18px;
  color: #333;
}

.spot-detail {
  width: 90%;
  margin: 80px auto 0;
}

.spot-detail-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.spot-detail-content {
  line-height: 1.5;
}

.media {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  margin-top: 20px;
}

.media-body {
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
}

.media-left {
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.sign-in {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  line-height: 2;
  margin-bottom: 30px;
  padding: 5px;
}

.form-control {
  border: 0;
  border-bottom: 2px solid #999;
  padding: 10px 0;
  background: #eeee;
  font-size: 15px;
  &:focus {
    border-bottom: 2px solid #05a0fb;
    transition: 0.3s;
  }
}

.form-err-msg {
  color: #dc3545;
  font-size: 13px;
  &.ml {
    margin-left: 10px;
  }
}

.sign-in-form {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  background: #eeee;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px #ccc;
}

@media(min-width: 320px) and (max-width: 500px) {
  .spot-container, .media {
    grid-template-columns: auto;
  }
  .media-left {
    padding: 0;
  }
}

@media(min-width: 500px) and (max-width: 860px) {
  .spot-container, .media {
    grid-template-columns: auto auto;
  }
}

@media(min-width: 860px) and (max-width: 1120px) {
  .spot-container {
    grid-template-columns: auto auto auto;
  }
}

@media(min-width: 1120px) and (max-width: 1380px) {
  .spot-container {
    grid-template-columns: auto auto auto auto;
  }
}