body {
  background: #efefef;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  padding: 16px 0;
  background: #59c2ff;
  margin-bottom: 20px;
}

.header-title {
  font-size: 20px;
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 1px #969696;
}
:focus{
  outline: none;
}

.search-bar-input:focus {
  border-bottom: 2px solid #05a0fb;
  transition: 0.3s;
}

.search-bar-input {
  width: 90%;
  padding: 5px;
  border: 0;
  border-bottom: 2px solid #999;
  font-size: 16px;
  letter-spacing: .5px;
  background: #efefef;
}

.spot-container {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}

.spot {
  padding: 20px;
  background: #fff;
  box-shadow: 1px 1px 1px #ccc;
  text-decoration: none;
}

.spot:hover {
  img {
    transform: scale(1.03);
    transition: transform .5s;
  }
}

.spot-image-wrap {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.spot-info {
  margin-top: 20px;
  line-height: 1.5;
  color: #666;
}

.spot-info-title {
  font-size: 18px;
  color: #333;
}

@media(min-width: 320px) and (max-width: 600px) {
  .spot-container {
    grid-template-columns: auto;
  }
}

@media(min-width : 768px) and (max-width : 1024px) {
  .spot-container {
    grid-template-columns: auto auto;
  }
}